<%= form_for(@poll.questions.new) do |f| %>
  <%= f.hidden_field :poll_id%>

  <p>	
  	<%= f.label :body %><br />
  	<%= f.text_field :body %>
  </p>
  
  <p>
  	<%= f.label :body %><br />
  	<%= f.text_field :body %>  
  </p>
  
  <p>
  	<%= f.label :body %><br />
  	<%= f.text_field :body %>  
  </p>
  
  <p>
  	<%= f.submit "Add Questions to Poll"%>
  </p>

<% end %>