<%= form_for(@poll.questions.new, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :poll_id%>

  <p>	
	<%= f.label :question1 %><br />
	<%= f.text_field :body %>
  </p>
  <p>
	<%= f.label :question2 %><br />
	<%= f.text_field :body %>  
  </p>
  <p>
	<%= f.label :question3 %><br />
	<%= f.text_field :body %>  
  </p>

<% end %>